
html, body {
    min-height: 100%;
}

body, div, form, input, select { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    
}

.form-container
{
	background-color: #fff;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    border-radius: 8px;	
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 100%;

}

* {
    box-sizing: border-box;
  }
  
.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 10px;
}

.rate {
    float: left; 
    padding: 0 10px;
    padding-left: 75px;

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.imagebg {
	background-image: url("/assets/img/Feedback\ Background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#form_Feedback {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

h1, h4 {
    margin: 15px 0 4px;
    font-weight: 400;
}
    
h4 {
    margin: 20px 0 4px;
    font-weight: 400;
}

span {
    color: red;
}
    
.small {
    font-size: 10px;
    line-height: 18px;
}
    
.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}
    
form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc; 
}
    
input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}
    
input:hover, textarea:hover, select:hover {
    outline: none;
    border: 1px solid #095484;
    background: #e6eef7;
}
    
.occupation-block select, .occupation-block input {
    margin-bottom: 10px;
}
    
select {
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
}
    
select, table {
    width: 100%;
}
    
option {
    background: #fff;
}
    
.day-visited, .time-visited {
    position: relative;
}
    
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
    
input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
}
    
.day-visited i, .time-visited i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    font-size: 20px;
}
    
.day-visited i, .time-visited i {
    right: 5px;
    z-index: 1;
    color: #a9a9a9;
}
    
[type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
}
    
.question-answer label {
    display: block;
    padding: 0 20px 10px 0;
}
    
.question-answer input {
    width: auto;
    margin-top: -2px;
}
    
th, td {
    width: 18%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}
    
.first-col {
    width: 25%;
    text-align: left;
}
    
textarea {
    width: calc(100% - 6px);
}
    
.btn-block {
    margin-top: 20px;
    text-align: center;
}
    
button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
    
button:hover {
    background-color: #0666a3;
}
    
@media (min-width: 568px) {
    .occupation-block {
    display: flex;
    justify-content: space-between;
    }
    .occupation-block select {
    width: 30%;
    margin-bottom: 0;
    }
    .occupation-block input {
    width: 31%;
    margin-bottom: 0;
    }
    th, td {
    word-break: keep-all;
    }
}